*.idea/**
*.iml
*.class
*.ipr
*.iws
*.DS_Store
# Package Files #
*.jar
!jacocoagent.jar
*.war
*.ear
*.log
*.rdb
*capfile

.idea

# Target directory #
*logs/**
*target/**
srm-api/bin/**
srm-client/bin/**
srm-server/bin/**
*/.idea/**
*/.gradle/**
*/.mvn/**
*out/**
*javadoc/**
docs/build/**
caches/
daemon/
target/

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
log/**
logs/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
test-output/*
test-output/**
test-output/**/*
**/pom.xml.versionsBackup
pom.xml.versionsBackup

**/tmp/**